<h1>Prime</h1>

<ul>
  <li><%= link_to "View Map", map_path %></li>
  <li><%= link_to "Read/Change the node table", nodes_path %> -> for when the map changes</li>
  <li><%= link_to "Read/Change the node links table", node_links_path %></li>
  <li><%= link_to "Read/Change the unit table", units_path %></li>
</ul>