/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
img.currentunit
{
  border:3px solid yellow;
}

div.node_red_text
{
  background-color:#ffaaaa;
  width: 20px;
}

div.node_blue_text 
{
  background-color:#aaaaff;
  width: 20px;
}

div.node_green_text
{
  background-color:#aaffaa;
  width: 20px;
}

div.node_white_text
{
  background-color:#aaaaaa;
  width: 20px;
}