<% radius = 20 # radius of clickable area around the centre of nodes %>
<% map_offset_x = 20 # left margin of map %>
<% map_offset_y = 40 # top margin of map %>
<% locals = { :radius => radius, :map_offset_x => map_offset_x, :map_offset_y => map_offset_y }%>

<%= render 'player' %>
<%= render :partial => 'map', :locals => locals %>

<div
  style="
    position: absolute;
	left: 20px;
	top: 400px;
	z-index: 1
  ">
  <p>Units can only be moved by the correct player. Login as user:red@red.com, pass:red 
  to move the red marker. Login as user:blue@blue.com, pass:blue
  to move the blue marker.
  
  Units can only move along nodes defined in the <%= link_to "node_links table", node_links_path %>. 
  Note the links are unidirectional, linking a node A with node B means a unit can travel 
  from node A to node B. But there needs to be another link from node B to node A to allow 
  the unit to travel back again</p>
</div>

<div
  style="
    position: absolute;
	left: 400px;
	top: 0px;
	z-index: 2
  ">
  <p id="notice"><%= notice %></p>
</div>